{% load rest_framework %}
{% load static %}
<!DOCTYPE html>
  <html lang="ru">
	<head>
		<meta charset="utf-8">
        <meta charset="utf-8">
<meta name="keyword" content="Севастополь">
<meta name="keyword" content="маршруты">
<meta name="keyword" content="маршрут">
<meta name="keyword" content="пеший">
<meta name="keyword" content="туризм">
<meta name="keyword" content="тропы">
<meta name="keyword" content="синие тропы">
<meta name="keyword" content="красные тропы">
<meta name="keyword" content="путешествия">
<meta name="keyword" content="отдых">
<meta name="keyword" content="море">
<meta name="keyword" content="горы">
<meta name="keyword" content="баобаб">
<meta name="description" content="Подбор пеших маршрутов для туризма.">
<meta name="content-type" content="text/html" charset="utf-8">
<meta http-equiv="content-language" content="ru">
<meta http-equiv="refresh" content="30">
<meta name="robots" content="index, nofollow">
<meta name="author" content="Андрей Сурчаков">
<meta name="copyright" content="Все права принадлежат Сурчакову Андрею">


    <script type="text/javascript">
      SevasTrip1 = "ngkasbhgbjsdjhbg";
    </script>

		<script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/select2-4.0.7.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/select2-4.0.7.css' %}">

		<script type="text/javascript" src="{% static 'js/datepicker-ru.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <!-- <script type="text/javascript" src="js/ckeditor.js"></script> -->
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/png">
		<title>SevTrip</title>
		<link href="{% static 'css/icon.css' %}" rel="stylesheet">
		<style type="text/css">
			.white{
				text-align: center;
			}
      span{
        color: black;
      }
		</style>
    </head>
    <body>

 <nav>
    <div class="nav-wrapper indigo darken-3">
      <div class="z-depth-2">
        <div class="z-depth-4">
          <a href="{% url 'anketa-list' %}"><center><img width=60; height=60; src="{% static 'images/toTheHeader.png' %}"></center></a>
          </div>
      </div>
    </div>
  </nav>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></i></a>
      <br> <br>
<script type="text/javascript">
      child_check = false;
      invalid_check = false;
      invalid2_check = false;
      ostanovka_check = false;
      parkovka_check = false;
    </script>

    <center><h1>SevTrip - найди свой путь!</h1></center></a>
<hr>

<!-- Карточки путей -->
  <!-- Зеленая карточка -->
      <div class="row">
    <div class="col s1 m4">
      <div class="card" id="greenCard">
        <div class="card-image">
          <img src="{% static 'images/greenRoute.png' %}" class="activator" alt="Зелёный маршрут">
          <span class="card-title white-text">Зеленые маршруты</span>
        </div>
    <div class="card-content">
      <span class="card-title activator blue-text text-lighten-4"><i class="material-icons right">more_vert</i></span>
      <p>Для всех, кто хочет посмотреть места Севастополя, но только начинает заниматься пешим туризмом.</p>
    </div>
        <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>Зелёные маршруты - самые простые из доступных. Их прохождение не отнимет у вас большого количества времени и сил. По этим маршрутам сможет пройти абсолютно любой человек(группа): путешествуя по таким маршрутам с детьми или пожилыми людьми, можете не переживать, что они не смогут его преодолеть.
<br><br>
К этой категории относятся по большей части городские маршруты, в том числе маршруты Екатерининский сквер - Артбухта и Прогулка по центру Севастополя.</p>
    </div>
      </div>
    </div>

  <!-- Синяя карточка -->

 <div class="col s5 m4">
      <div class="card" id="blueCard">
        <div class="card-image">
          <img src="{% static 'images/blueRoute.png' %}" class="activator">
          <span class="card-title">Синие маршруты</span>
        </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>Для тех, кто хочет насладиться крастотой природы и архитектуры города Севастополя и его окрестностей. <br></p>
    </div>
        <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>АА</p>
    </div>
      </div>
    </div>
    <!-- Красная карточка -->
   <div class="col s9 m4">
      <div class="card" id="redCard">
        <div class="card-image">
          <img src="{% static 'images/redRoute.png' %}" class="activator">
          <span class="card-title">Красные маршруты</span>
        </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p>Подходят для тех, кто любит спорт, готов к долгим путешествиям и наслаждается горными пейзажами.
      </p>
    </div>
        <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>А=А</p>
    </div>
      </div>
    </div>
  </div>

<hr>

  <!-- Анкета и составляющие -->  
<a onclick="$('#anketa').show()" href="#!"><h1><font face="comic sans ms"><center>Подбор маршрутов</center></font></h1></a>




<div id="anketa" hidden>
<div class="row">
    <div class="col s6 offset-s3">
      <div class="card blue-grey darken-1 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title white-text"><center>Анкета</center></span>
          <label for="age" class="white-text">Возраст</label>
          <input placeholder="Возраст" id="age" type="number" class="validate">
            <br>
            <br>
                <label class="white-text">Физическая подготовка</label>
                <br>
    <select id="selectPhys">
      <option value="0" disabled selected class="white-text">Не выбрано</option>
      <option value="1" class="white-text">Не подготовлен</option>
      <option value="2" class="white-text">Средняя физическая подготовка</option>
      <option value="3" class="white-text">Занимаюсь спортом</option>
    </select>

    <br><br>
     <label class="white-text">Личные предпочтения</label>
     <br>
     <select multiple id="personal">
      <option value="" disabled>Не выбрано</option>
      <option value="1">Горы</option>
      <option value="2">Море</option>
      <option value="3">Город</option>
    </select>
    <br>
    <br>
       <label class="white-text">Желаемая длительность маршрута</label>
       <br>
     <select id="theTime">
      <option value="0" disabled selected>Не выбрано</option>
      <option value="1">До 4 километров</option>
      <option value="2">До 8 километров</option>
      <option value="3">От 8 километров</option>
    </select>
<br><br>

     <p>
      <label id="child_check">
        <input type="checkbox" id="child_check" onclick="(child_check = !child_check);"  />
        <span class="white-text">С детьми</span>
      </label>
       &nbsp; &nbsp; &nbsp; &nbsp;
      <label id="invalid_check">
        <input type="checkbox" id="invalid_check" onclick="(invalid_check = !invalid_check);" />
        <span class="white-text">Инвалид 1-ой группы</span>
      </label>
      &nbsp; &nbsp; &nbsp; &nbsp;
       <label id="invalid2_check">
        <input type="checkbox" id="invalid2_check" onclick="(invalid2_check = !invalid2_check);" />
        <span class="white-text">Инвалид 2-ой/3-ей группы</span>
      </label>
    </p>



        </div>
      </div>
    </div>
  </div>

   <center> 
 <button class="btn-large waves-effect waves-light blue-grey darken-1 pulse" id="answer">Подобрать маршрут<i class="material-icons right">search</i>
  </button><br><br>
  </center>
  <br>
  <br>

</div>

 <!-- Анкета и составляющие -->  
 <div style="text-align: center; position: inherit; left: 0; bottom: 0; right: 0;  margin: 0">  
<footer class="page-footer indigo darken-3"> 
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">О нас</h5>
          <p class="grey-text text-lighten-4">Мы команда энтузиастов, которая решила взяться
          за кейс правительства города Севастополя цель которого оптимизация процесса выбора
          маршрутов пеших походов туристами.</p>
        <p><u><a target="_blank" href="{% url 'suggestion-form' %}" style="color: white;">Ваши предложения, для улучшения точности оценки</a></u></p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <img src="{% static 'images/icon.png' %}" style="width: 120px; height: 120px;">
          <ul>
            <li><a class="white-text" target="_blank" href="https://vk.com/circledev">Андрей</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/mpipi">Мария</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/id72272281">Сергей</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/monahirek666">Ирек</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/dshindov">Даниил</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/a.bliznichenko">Алексей</a></li>
             </ul>
             <ul>
            <li><a class="white-text" target="_blank" href="https://vk.com/id242011864">Константин</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/krishtels">Карина</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/zavyazkin2013">Александр</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/kolyashvirev">Николай</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/ivan_krylov01">Иван</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/id313846313">Эльдар</a></li>
            <li><a class="white-text" target="_blank" href="https://vk.com/schyolokov10">Александр</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright indigo darken-4">
      <div class="container">
            
            <a class="grey-text text-lighten-4 center" href="https://materializecss.com/" target="_blank">Сделано с помощью <a class="orange-text" href="https://materializecss.com">Materialize</a></a>
            </div>
      </div>
  </footer>
</div>

  </div>
  <script src="{% static 'js/init.js' %}"></script>
    </body>
  </html>	